#Calque_2{
    width: 100%;
    height: 100%;
    transform: translate(-27%, 0%);
    position: relative;
}

#Dessin_maks{
    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
    animation: draw 4s linear forwards;
}
#Calque_1{
    display: hidden;
}
#computer{
    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
    animation: draw 4s linear forwards;
}

@keyframes draw {
    from {
        stroke-dashoffset: 10000;
      }
      to {
        stroke-dashoffset: 0;
      }
}
