/* Primary style */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "PT Sans", sans-serif;
  color: #242322;
  background-color: #ffffff;
}

a {
  color: #a5c4bc;
  text-decoration: none;
}

/* Patterns - reusable parts of our design */
.cd-btn {
  padding: 1.6em 2.4em;
  font-size: 1.4rem;
  letter-spacing: .15em;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #a5c4bc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s;
  position: fixed;
  bottom: 0;
  margin-top: 10%;
  width: 100vw;
  text-align: center;
}

.no-touch .cd-btn:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

/* Typography */
h1 {
  font-size: 2.6rem;
  line-height: 1;
  margin-bottom: 1em;
  font-family: "IM Fell Double Pica", serif;
  padding: 5%;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 1em;
  font-family: "IM Fell Double Pica", serif;
  padding: 2%;
  display: flex;
  justify-content: flex-start;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}

p{
  padding: 2%;
  margin-bottom: 2%;
  line-height: 120%;
}

img{
  width: 20%;
  height: 12%;
  bottom: 10%
}

/* Main Content */
.cd-main-content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  /* vertically align its content */
  display: table;
  background-color: #e4dcca;
}
.cd-main-content .Principale {
  /* vertically align inside parent element */
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20%
}

/* Modal window */

.cd-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: gold url(../img/modal-bg.jpg) no-repeat center center;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-modal .modal-content {
  height: 100%;
  overflow-y: auto;
  color: #e4dcca;
  display: flex;
  flex-direction: column;
}
.cd-modal h1 {
  text-align: center;
  margin-top:3%;
}
.cd-modal h1::after {
  /* ink/brush separation */
  content: '';
  display: block;
  width: 130px;
  height: 18px;
  background: url(../img/ink-separation.svg) no-repeat center center;
  margin: .2em auto 0;
}
.cd-modal p {
  justify-content: flex-start;
  line-height: 1.6;
  margin-left:5%;
  max-width: 53%;
}
.cd-modal .modal-close {
  /* 'X' icon */
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url(../img/cd-icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}
.no-touch .cd-modal .modal-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.cd-modal.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.7s, visibility 0s;
}
.cd-modal.visible .modal-content {
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
}
.cd-modal.visible .modal-close {
  visibility: visible;
  opacity: 1;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transform: scale(1);
}

@media only screen and (min-width: 1100px) {
  .cd-modal .modal-content {
    padding: 6em 5%;
  }
  .cd-modal .modal-close {
    height: 60px;
    width: 60px;
  }
  .cd-modal p {
    font-size: 2rem;
  }
}

/* Transition Layer */

.cd-transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.cd-transition-layer .bg-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-2%);
  /* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
  height: 100%;
  /* our sprite is composed of 25 frames */
  width: 2500%;
  background: url(../img/ink.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.cd-transition-layer.visible {
  opacity: 1;
  visibility: visible;
}
.cd-transition-layer.opening .bg-layer {
  animation: cd-sequence 0.8s steps(24);
  animation-fill-mode: forwards;
}
.cd-transition-layer.closing .bg-layer {
  animation: cd-sequence-reverse 0.8s steps(24);
  animation-fill-mode: forwards;
}
.no-cssanimations .cd-transition-layer {
  display: none;
}

.image_vintage{
  max-width:30%;
  max-height:100%;
  left:60%;
  top:10%;
  position: relative;

}

@keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    transform: translateY(-50%) translateX(-98%);
  }
}

@keyframes cd-sequence-reverse {
  0% {
    transform: translateY(-50%) translateX(-98%);
  }
  100% {
    transform: translateY(-50%) translateX(-2%);
  }
}
